# Virtuoso files /data/db
/data/db/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*

/data/authorization/*
/data/ldes-consumer/*

docker-compose.override.yml
config/openid/jwk_private_key.json

*~
